/* Write your code here. */
button {
  background-color: transparent;
  border-style: none;
  padding: 0px;
  cursor: pointer;
  outline: none;
}

@media (min-width: 768px) {
  .thumbnail-img {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    opacity: 0.5;
    margin-right: 10px;
  }
  .active {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .thumbnail-img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    opacity: 0.5;
    margin-right: 10px;
  }
  .active {
    opacity: 1;
  }
}
